<nav class="navbar">
    <div class="nav-links">
        <a href="/" class="nav-item">Início</a>
        <a href="/biblioteca" class="nav-item">Biblioteca</a>
        <a href="/contato" class="nav-item">Contato</a>
    </div>
</nav>
<link rel="stylesheet" href="/css/navbar.css" />
